.custom-menu {
  margin-top: 1.45em !important;
  .top-menu__dropdown__item {
    .custom-item {
      padding-bottom: 14px !important;
      padding-left: 56px !important;
      padding-right: 56px !important;
      padding-top: 16.799999237060547px !important;
      line-height: 18.200000762939453px !important;
    } 
  }
}

.custom-join {
  width: 250px !important;
}