p= I18n.t("devise.mailer.invitation_instructions.hello", email: @resource.email)
p= I18n.t("devise.mailer.invitation_instructions.user_invited_you", user: @resource.invited_by.email, url: root_url)
p= link_to I18n.t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, :invitation_token => @token, :referral_code => @resource.invited_by.referral_code)
p= I18n.t("devise.mailer.invitation_instructions.ignore").html_safe